#data-dictionary tbody th {
  font-weight:bold;
}
#data-dictionary #add-new-variable {
  background:#e1e2dc;
  border-top:1px solid #bebfb9;
}
#data-dictionary #add-new-variable td {
  text-align:right;
}
.add-another {
  background:transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAZ0lEQVR42oVPQQ7AIAjTvVmG+9qY82mO2sPcEmMTAkqhJYyI+9VCj7uFGUCI4gS1OYlbjMQRWyqUkMLmgdr4p8Y69gcaJ71gSCpIb9ADzfaBXJEpy/zzl625/MJ48i0KueV1kP9e9wDwCGK8WpRKIAAAAABJRU5ErkJggg%3D%3D") left center no-repeat;
  padding-left:15px;
}